<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card">
          <%= image_tag post.image, class: "card-img-top mx-auto d-block", style: "width: auto; height: 340px; object-fit: cover;", alt: post.user.nickname %>
          <div class="card-footery">
            <p class="card-text" style="background-color: gray; color: white;"><%= post.explanation %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= post.user.nickname %></small>
            <!-- 各投稿に対する「いいね」の数を表示 -->
            <p>「いいね」の数: <%= post.likes.count %></p>
            <%= link_to '詳細',post_path(post) , class: 'btn btn-primary' , remote: true %>
            <div id="like-btn<%= post.id %>">
              <%= render partial: "likes/like", locals: { post: post, class_name: 'like-button' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>