<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= render 'shared/error_messages', model: @post %>
      <div class="card border-0 shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">投稿する</h2>

          <%= form_with(model: @post, html: { class: 'form-horizontal' }) do |f| %>

            <div class="form-group">
              <%= f.text_field :title, class: 'form-control', placeholder: "タイトル" %>
            </div>

            <div class="form-group">
              <%= f.file_field :image, class: 'form-control-file' %> 
            </div>
            <div class="form-group">
              <%= f.collection_select :genre_id, Genre.all, :id, :name, {}, {class: 'custom-select'} %>
            </div>
            <div class="form-group">
              <%= f.collection_select :shelf_number_id, ShelfNumber.all, :id, :name, {}, {class: 'custom-select'} %>
            </div>
            <div class="form-group">
              <%= f.text_area :explanation, class: 'form-control', rows: 10, placeholder: "説明文" %>
            </div>

            <%= f.submit "SEND", class: 'btn btn-primary btn-block' %>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>