<div class="container">
  <div class="row">
    <div class="col-md-4">class: "image-size"
      <%# <div class="card" style="background-image: url(<%= @post.image %>
        <div class="card-body">
          <div class="custom-class"> 
            <button class="btn btn-secondary custom-toggle" type="button" id="customButton" aria-haspopup="true" aria-expanded="false"> <!-- ここを変更しました -->
              <%= image_tag @post.images[0], class: "main-image" %><br>
              <div class="other-images">
                <% @post.images.each do |image| %>
                  <div class="other-image">
                    <%= image_tag(image) %>
                  </div>
                <%end%>
              </div>
            </button>
            <h5 class="card-title"><%= @post.user.nickname %></h5>
            <h5><p class="card-text"><%= @post.explanation %></p></h5>
            <h6><p class="card-text"> Views: <%= @post.views %> Good: <%= @post.likes.count %></p></h6>
            <% if current_user == @post.user %>
              <div class="btn-group">
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %>
                <%= link_to '削除', post_path(@post), class: "btn btn-danger", data: { turbo_method: :delete } %>
              </div>
            <% end %>
            <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true, class: 'form-group') do |f| %>
              <%= f.text_area :text, placeholder: "コメントする", rows: "2", class: 'form-control' %>
              <%= f.submit "SEND", class: 'btn btn-primary mt-3' %>
            <% end %>
            <% else %>
              <strong><p class="alert alert-warning">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
            <% end %>
            <div class="comments">
              <h4>＜コメント一覧＞</h4>
              <% @comments.each do |comment| %>
                <p>
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
                  <%= comment.text %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
