<!DOCTYPE html>
<html>
  <head>
    <title>SnapShelf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">SnapShelf</a></h1>
        <div class="user_nav grid-6">
          <% if user_signed_in? %>
            <a class="post" href="/posts/new">投稿する</a>
            <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}  %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path %>
            <%= link_to '新規登録', new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright SnapShelf 2023.
      </p>
    </footer>
  </body>
</html>
