<!DOCTYPE html>
<html>
  <head>
    <title>SnapShelf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">SnapShelf</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto d-flex flex-row">
            <% if user_signed_in? %>
              <li class="nav-item mr-4">
                <%= link_to '投稿', new_post_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
              </li>  
            <% else %>
              <li class="nav-item mr-2">
                <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        <div class="container">
            <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
              <%= form.collection_select :prefectures_id, Prefecture.all, :id, :name, include_blank: "都道府県を選択" %>
              <%= form.collection_select :area_id, Area.all, :id, :name, include_blank: "エリアを選択" %>
              <%= form.submit "検索", class: "search-btn" %>
            <% end %>

          </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "人気", root_path(tab: "tab1"), class: "nav-link #{params[:tab] == "tab1" ? "active" : ""}" %>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">タブ2</a>
              </li>
            </ul>
            </h3>
          </div>
        </nav>
      </div>
      <h3 class="text-right my-auto mr-3">
              <% if user_signed_in? %>
                <%= current_user.nickname %>
              <% end %>
    </header>
    <%= yield %>
<footer class="bg-light py-3">
  <div class="container">
    <p class="text-muted mb-0">
      Copyright SnapShelf 2023. 
    </p>
  </div>
</footer>